.container{
    display:flex ;
    justify-content: center;
    align-items: center;  
    border: rgb(55, 59, 55) 4px solid;
    height: 300px;
    width: 200px;
    margin-top: 50px;
    background-color: rgb(53, 61, 53);
    color:seashell ;
    font-family: arial;
    font-weight: 500;
    word-spacing: 5px;
    border-radius: 50px;
    padding: 50px;
    outline: solid 8px rgb(176, 206, 176);
}
body{
     display:flex ;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    background: url(aisad.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
button{
    background-color: rgb(24, 26, 24);
    height: 40px;
    color: rgb(236, 247, 247);
    border: none;
    border-radius: 20px;
    margin:5PX ;
    cursor: pointer;
}

button:hover{
    background-color: grey;
    height:40px;
    color: azure;
    border: none;
    border-radius: 20px;
    margin:5PX ;
    cursor: pointer;
    transition: ease-out;
    transition-duration: 0.6s;
    transition-property: initial;
}
#answer{
font-size: 20px;
font-weight: 700;
font-family:Arial;
font-style: italic;
margin-top: 0px;
word-spacing: 4px;
padding: 10px;
overflow:wrap;
}
button:active{
    background-color: rgb(66, 224, 66);
    height: 40px;
    color: rgb(19, 20, 20);
    border: none;
    border-radius: 20px;
    margin:5PX ;
    cursor: pointer;
    transition: ease-out;
    transition-duration: 0.6s;
    transition-property: initial;



}
input{
    background-color: rgb(69, 83, 69);
    color: lightyellow;
    height: 25px;
    border-radius: 10px;
    margin: 10px 10px;
    font-size: large;
    font-weight: 500;
    outline: none;border: none;
}
.rbtn{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message{
    font-size: 15px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    background-color: transparent;
    color: rgb(245, 14, 14);
    padding: 15px;
    margin-top: 0pt;
    border-radius: 10px;
}
.PP,label{
    display: flex;
    align-items: center;
    justify-content:center ;
}
